
.todo {
    width: 1440px;
    height: 2111px;
    background: #F5F5F5;
}

/*----header----*/
.header {
    background: #FFFFFF;
    height: 115px;
}

.header-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 115px;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
}

.header-contenedor-logo-buscar {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 176px;
    height: 50px;
}

.header-buscar {
    width: 393px;
    height: 40px;
    background: #F5F5F5;
    border-radius: 20px;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A2A2A2;
    margin-left: 32px;
}

.header-login {
    width: 182px;
    height: 51px;
    border: 1px solid #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    text-align: center;
}

/*----banner promocion----- */
.promocion-contenedor {
    width: 1440px;
    height: 352px;
    background-image: url("img/banner.png");
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.promocion-h1 {
    margin: 0px;
    padding-left: 150px;
    padding-bottom: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: #FFFFFF;
}

.promocion-h3 {
    margin: 0px;
    padding-left: 150px;
    padding-bottom: 16px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.promocion-boton {
    padding-left: 152px;
    padding-bottom: 32px;
}

.ver-consolas {
    width: 129px;
    height: 51px;
    background: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: #2A7AE4;
}

/*----categoria de productos----*/
.contenedor-categoria-productos {
    margin-right: 150px;
    margin-left: 150px;
    width: 1136px;
    /*height: 306px;*/
    margin-top: 64px;
    margin-bottom: 64px;
}


.contenedor-categoria-productos:nth-child(3) {
    margin-right: 150px;
    margin-left: 150px;
    width: 1136px;
    /*height: 306px;*/
    margin-top: 64px;
    margin-bottom: 64px;
}

.contenedor-productos-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ver-todo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    text-decoration: none;
}

.contenedor-productos-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.producto-titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
    margin: 0px;
}

.producto-ul {
    padding: 0px;
    list-style-type: none;
}

.producto-box {}

.producto-img {
    width: 176px;
    height: 174px;
}

.producto-nombre {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin-top: 8px;
}

.producto-precio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    margin-top: 8px;
}

.producto-ver {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    margin-top: 8px;

}

/*----footer rodapie-----*/
.footer-rodapie {
    background: #EAF2FD;
}

.rodapie-logo {
    width: 176px;
    height: 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-left: 152px;
    margin-right: 152px;
    height: 240px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.contenido-rodapie-logo-links {
    display: flex;
    width: 464px;
    justify-content: space-between;
}

.contenido-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}

.contenido-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-hable-con-nosotros {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
}

.contenido-nombre {
    width: 560px;
    height: 56px;
    border: none;
    background: #FFFFFF;
    border-radius: 4px;
}

.contenido-mensaje {
    width: 560px;
    height: 82px;
    border: none;
    background: #FFFFFF;
    border-radius: 4px;
}

.contenido-submit {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border-color: #2A7AE4;
    width: 144px;
    height: 51px;
    background: #2A7AE4;
}

.rodapie {
    text-align: center;
    width: 1440px;
    height: 102px;
    background: #FFFFFF;
    padding-top: 32px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #464646;
}

/*----login----*/
.todo-login {
    width: 1440px;
    height: 1080px;
    background: #F5F5F5;
}

.contenedor-iniciar-sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iniciar-sesion-titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #464646;
    margin-top: 92px;
    margin-bottom: 25px;
}

.iniciar-sesion-email {
    width: 423px;
    height: 63px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    margin-bottom: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A2A2A2;
}

.iniciar-sesion-contrasena {
    width: 423px;
    height: 63px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    margin-bottom: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A2A2A2;
}

.iniciar-sesion-boton {
    width: 423px;
    height: 63px;
    background: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: #2A7AE4;
    margin-bottom: 91px;
}

/*---------------------------------Pagina Agregar producto-----------------------------*/
.todo-agregar-producto {
    width: 1440px;
    height: 1228px;
    background: #F5F5F5;
}

.header-menu-administrador {
    width: 183px;
    height: 51px;
    border: 1px solid #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    text-align: center;
}

.contenedor-agregar-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agregar-producto-titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
    margin-top: 64px;
    margin-bottom: 16px;
}

.agregar-producto-url {
    width: 559px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    border: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #464646;
    margin-bottom: 16px;
}

.agregar-producto-categoria {
    width: 559px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #464646;
    border: #FFFFFF;
    margin-bottom: 16px;
}

.agregar-producto-nombre {
    width: 559px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #464646;
    border: #FFFFFF;
    margin-bottom: 16px;
}

.agregar-producto-precio {
    width: 559px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #464646;
    border: #FFFFFF;
    margin-bottom: 16px;
}

.agregar-producto-descripcion {
    width: 559px;
    height: 82px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #A2A2A2;
    border: #FFFFFF;
    margin-bottom: 16px;
}

.iniciar-sesion-boton {
    width: 559px;
    height: 51px;
    background: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: #2A7AE4;
    margin-bottom: 64px;
}


/*--------------------------- pagina todos los productos  ---------------------*/

.todo-todo-los-productos {
    width: 1440px;
    background: #F5F5F5;
}

.boton-agregar-producto {
    width: 163px;
    height: 51px;
    background: #2A7AE4;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: #2A7AE4;
}

/*Mobile*/
@media (max-width: 425px) {}